<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/mentalstyle.css">
    <title>Moods</title>
</head>
<body>
    <div class="container">
        <div class="card card0">
          <div class="border">
            <a href='https://pixabay.com/music/search/mood/happy/'><h2>Happy</h2></a> 
            
          </div>
        </div>
        <div class="card card1">
          <div class="border">
            <a href='https://pixabay.com/videos/search/sadness/'><h2>Neutral</h2></a> 
            
          </div>
        </div>
        <div class="card card2">
          <div class="border">
            <a href='https://www.mindful.org/how-to-meditate/'><h2>Sad</h2></a>
            
          </div>
        </div>
      </div>

</body>
</html>